body {
    margin-top: 50px;
    background: url('../img/main-bg.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    font-size: 16px;
/*    color: #FFF;*/
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a:hover {
    color: #FFF;
}

li {
    list-style-type: none;
    color: #FFF;
}

h1 {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    margin-top: 200px;
    padding: 0;
    font-size: 100px;
    font-family: 'Enriqueta', serif;
    color: #FFF;
}

h3 {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    margin-top: 70px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 50px;
    font-family: 'Enriqueta', serif;
    color: #FFF;
}

h4 {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    margin-top: 70px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    font-family: 'Enriqueta', serif;
    color: #FFF;
}

.map {
    margin-top: 20px;
    margin-bottom: 20px;
/*    width: 500px;
    height: 400px;*/
}


.angular-google-map-container {
    width: 550px;
    height: 400px;
/*    margin-left:15px;*/
}

.navbar-brand {
    font-size: 20px;
    font-family: 'Enriqueta', serif;
}

form {
    margin-top: 50px;
}

.main-body {
    background-color: rgba(16, 16, 16, 0.6);
    height: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: scroll; overflow-x:hidden;
    z-index:-1;
}
/*
.welcome {
    background-color: transparent;
}*/

.criteria-selection {
    margin-top: 100px;
}

.criteria-selection select {
    margin-bottom: 20px;
}

.labels {
    font-size: 20px;
    font-family: 'Enriqueta', serif;
    color: #FFF;
}

.restaurant-result li {
    margin-top: 10px;
}

.rst-result-btns {
    margin-bottom: 20px;
}

.location-detection {
    margin-top: 100px;
}
