body {
    margin-top: 50px;
    background: url('../img/main-bg.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
/*    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
*/
    font-size: 16px;
}

li {
    list-style-type: none;
}

h1 {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    margin-top: 200px;
    padding: 0;
    font-size: 100px;
    font-family: 'Enriqueta', serif;
    color: #FFF;
}

.angular-google-map {
    text-align: center;
}

.angular-google-map-container {
    height: 400px;
    width: 600px;
}

h3 {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    font-size: 50px;
    font-family: 'Enriqueta', serif;
    color: #FFF;
}

h4 {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    font-size: 30px;
    font-family: 'Enriqueta', serif;
    color: #FFF;
}


.navbar-brand {
    font-size: 20px;
}

/*#main-body {
    background-color: #FFF;
}
*/

form {
    margin-top: 100px;
}
