<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="main-body favorites">
      <div class="outer-container">
        <div class="outer-body">
          <h3>My Favorites</h3>

          <div ng-repeat="fav in favCtrl.favorites track by $index">
            <ul id="{{fav.favorite.id}}">
              <li>
                <h4>{{ fav.restaurant.name }}</h4>
              </li>
              <li>
                <span class="labels">Rating:</span>
                  {{ fav.restaurant.rating }} stars
              </li>
              <li>
                <span class="labels">Price range:</span>
                {{ fav.restaurant.price }}
              </li>
              <li>
                <span class="labels">Address:</span>
                <span ng-repeat="address in fav.restaurant.display_address">
                {{ address }}
                </span>
              </li>
              <li ng-if="fav.restaurant.display_phone">
                <span class="labels">Phone number:</span>
                {{ fav.restaurant.display_phone }}
              </li>
              <li>
                <span class="labels">URL:</span>
                {{ fav.restaurant.url }}
              </li>
            </ul>
<!--             <br> -->
            <button id="fav{{fav.favorite.id}}" ng-click="favCtrl.deleteFromFavorites($event)" class="button btn btn-default">Delete</button>
            <br><br><br>
          </div>
          <h4 ng-show="favCtrl.favorites.length === 0">
            You haven't saved any restaurants to your favorites yet.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

