<div class="main-body">
  <h3>My Favorites</h3>

  <ul ng-repeat="fav in favCtrl.favorites">
    <li>
      <h4>{{ fav.name }}</h4>
    </li>
    <li>
      <span class="labels">Rating:</span>
        {{ fav.rating }} stars
    </li>
    <li>
      <span class="labels">Price range:</span>
      {{ fav.price }}
    </li>
    <li>
      <span class="labels">Address:</span>
      <span ng-repeat="address in fav.display_address">
      {{ address }}
      </span>
    </li>
    <li ng-if="fav.display_phone">
      <span class="labels">Phone number:</span>
      {{ fav.display_phone }}
    </li>
    <li>
      <span class="labels">URL:</span>
      {{ fav.url }}
    </li>
  </ul>

  <h4 ng-show="favCtrl.favorites.length === 0">
    You haven't saved any restaurants to your favorites yet.
  </h4>
</div>
