<!-- ng switch statement that switches on the value of the form phase in the controller - when 1, show html for that page -->
<!--     <button ng-click="findRstCtrl.nextPhase()">Next</button>
    <button ng-click="findRstCtrl.previousPhase()">Previous</button> -->
<div ng-switch="findRstCtrl.formPhase">

<!-- Location detection -->
  <div ng-switch-when="1">
<!--     <h1>{{findRstCtrl.formPhase}}</h1> -->

    <h3>Detecting your location...</h3>
    <!-- Eventually put an animation here -->
<!--     <p>Detecting your location...</p> -->
<!--     <span us-spinner spinner-key="spinner-1">

    </span>
 -->

  </div>

<!-- Location verification / map -->
  <div ng-switch-when="2">
<!--     <h1>{{findRstCtrl.formPhase}}</h1> -->

    <h3>Here's where we've detected your location:</h3>
    <ui-gmap-google-map center='findRstCtrl.map.center' zoom='findRstCtrl.map.zoom'>
      <ui-gmap-markers
          models="findRstCtrl.mylocation"
          coords="'self'"
          >
      </ui-gmap-markers>
    </ui-gmap-google-map>

    <button ng-click="findRstCtrl.previousPhase()"><span class="glyphicon glyphicon-chevron-left"></span>Not where I am</button>
    <button ng-click="findRstCtrl.nextPhase()">This is correct<span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>

<!-- Criteria selection -->
  <div ng-switch-when="3">
<!--     <h1>{{findRstCtrl.formPhase}}</h1> -->

    <!-- Category dropdown -->
    <form>
      <label for="category-dropdown">Category: </label><br/>
      <select id="category-dropdown" ng-model="findRstCtrl.category" ng-options="category.id as category.name for category in findRstCtrl.categories">
      </select>

      <br>
      <label for="distance-dropdown">Distance: </label><br/>
      <select id="distance-dropdown" ng-model="findRstCtrl.distance" ng-options="distance.id as distance.name for distance in findRstCtrl.distances">
      </select>

      <br>
      <label for="price-dropdown">Price Range: </label><br/>
      <select id="price-dropdown" ng-model="findRstCtrl.price" ng-options="price.id as price.name for price in findRstCtrl.prices">
      </select>
    </form>

    <br>
<!--     <button ng-click="findRstCtrl.previousPhase()">Previous</button> -->
    <button ng-click="findRstCtrl.nextPhase(); findRstCtrl.getRestaurant()">Let's find your dinner.<span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>

    <div ng-switch-when="4">
<!--       <h1>{{findRstCtrl.formPhase}}</h1> -->

      <form>
        <li ng-model="findRstCtrl.favForm.name">
          <a href="{{ findRstCtrl.restaurants[findRstCtrl.currentRestaurant].url }}">
            <h3 ng-model="findRstCtrl.favForm.url">{{ findRstCtrl.restaurants[findRstCtrl.currentRestaurant].name }}</h3>
          </a>
        </li>

        <li ng-model="findRstCtrl.favForm.rating">
          Rating: {{ findRstCtrl.restaurants[findRstCtrl.currentRestaurant].rating }}
        </li>

        <li ng-model="findRstCtrl.favForm.display_address">
          Address: {{ findRstCtrl.restaurants[findRstCtrl.currentRestaurant].location.display_address }}
        </li>

        <li ng-model="findRstCtrl.favForm.display_phone">
          Phone number: {{ findRstCtrl.restaurants[findRstCtrl.currentRestaurant].display_phone }}
        </li>

        <li ng-model="findRstCtrl.favForm.price">
          Price: {{ findRstCtrl.restaurants[findRstCtrl.currentRestaurant].price }}
        </li>

        <li ng-model="findRstCtrl.favForm.yelp_id">
          Id (hide this): {{ findRstCtrl.restaurants[findRstCtrl.currentRestaurant].id }}
        </li>

      </form>
      </ul>

      <button ng-if="findRstCtrl.currentRestaurant < 4" ng-click="findRstCtrl.nextRestaurant()">
        I don't like this restaurant - give me the next best one.
      </button>

      <button ng-if="findRstCtrl.currentRestaurant < 4" ng-click="findRstCtrl.saveToFavorites()">
        Save for later
      </button>

      <p ng-if="findRstCtrl.currentRestaurant >= 4">
        You've reached your limit! If you don't like any of the restaurants we've provided, you might want to start over!
      </p>

    </div>

  </div>
</div>
