<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="main-body">
      <div class="outer-container">
        <div class="outer-body">
          <h3>Sign Up</h3>
          <form>
            <span class="labels">Email address: </span><br>
            <input type="email" name="email-address"  ng-model="signupCtrl.signupForm.email" ng-required><br>
            </select><br>

            <span class="labels">Password: </span><br>
            <input type="password" name="password"  ng-model="signupCtrl.signupForm.password" ng-minlength="6" ng-required><br>
            </select><br>

            <button class="btn btn-default" ng-click="loginCtrl.signup()">Sign Up</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

