html {
    height: 100%;
}

body {
    margin-top: 50px;
    background: url('../img/main-bg.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    font-size: 16px;
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a:hover {
    color: #FFF;
}

li {
    list-style-type: none;
    color: #FFF;
}

h1 {
    text-align: center;
    vertical-align: middle;
    margin: 0;
/*    margin-top: 200px;*/
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 5px;
    font-size: 100px;
    font-family: 'Enriqueta', serif;
    color: #FFF;
/*    border: 3px solid #FFF;*/
}

@media(max-width: 950px) {
  h1 {
    font-size: 80px;
  }
}

@media(max-width: 750px) {
  h1 {
    font-size: 60px;
  }
}

@media(max-width: 560px) {
  h1 {
    font-size: 40px;
  }
}

h3 {
    text-align: center;
    vertical-align: middle;
    margin: 0;
/*    margin-top: 70px;*/
    margin-bottom: 20px;
    padding: 0;
    font-size: 50px;
    font-family: 'Enriqueta', serif;
    color: #FFF;
}

h4 {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    margin-top: 70px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    font-family: 'Enriqueta', serif;
    color: #FFF;
}

.map {
    margin-top: 20px;
    margin-bottom: 20px;
/*    width: 500px;
    height: 400px;*/
}


.angular-google-map-container {
    width: 550px;
    height: 400px;
/*    margin-left:15px;*/
}

.navbar-brand {
    font-size: 20px;
    font-family: 'Enriqueta', serif;
}

/*.navbar-header {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}*/

form {
    margin-top: 50px;
}

/* Creates darkened background on certain views */
.main-body {
    background-color: rgba(16, 16, 16, 0.6);
    height: 100vh;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: scroll; overflow-x:hidden;
    z-index: 1000000;
}

.main-body p {
    font-size: 20px;
    font-family: 'Enriqueta', serif;
    color: #FFF;
}

.criteria-selection {
    margin-top: 100px;
}

.criteria-selection select {
    margin-bottom: 20px;
}

.labels {
    font-size: 20px;
    font-family: 'Enriqueta', serif;
    color: #FFF;
}

.restaurant-result li {
    margin-top: 10px;
}

.rst-result-btns {
    margin-bottom: 20px;
}

.location-detection {
    margin-top: 100px;
}

/* Buttons */
.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 18px;
}

.btn-default {
    border: 2px solid #101010;
    color: #101010;
    background-color: #FFF;
}

.btn-default:hover,
.btn-default:focus {
    border: 2px solid #101010;
    outline:none;
    color: #FFF;
    background-color: #101010;
}

/* Welcome page */
.outer-container {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    margin-top: 120px;
}

.outer-container .outer-body {
    display: table-cell;
    vertical-align: middle;
}
